<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuzb.dao.GradesMapper">
    <insert id="save" parameterType="Grades">
        INSERT INTO grades(name) VALUES (#{name})
    </insert>

    <select id="getById" parameterType="java.lang.Integer" resultType="Grades">
        SELECT * FROM grades WHERE id = #{id}
    </select>
</mapper>